{% extends "base.html" %}

{% block title %}NBA Over-Unders | Team Tracker 2023-24{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
  google.charts.load('current', {'packages':['table']});
  google.charts.setOnLoadCallback(drawTable);

  function drawTable() {
    var table = new google.visualization.Table(document.getElementById('table_div'));
    var json_data = new google.visualization.DataTable({{ table|safe }});
    
    table.draw(json_data, {
        showRowNumber: true, 
        sortColumn: 0, 
        sortAscending: true, 
        height: '100%',
        cssClassNames: {
            headerRow: 'table-header',
            tableRow: 'table-row',
            oddTableRow: 'table-row-odd',
            selectedTableRow: 'table-row-selected',
            hoverTableRow: 'table-row-hover',
            headerCell: 'table-header-cell',
            tableCell: 'table-cell'
        }
    });
}
</script>
{% endblock %}

{% block season_selector %}
<div class="year_select_nav">
    <label>Season:</label>
    <select name="season_select" onchange="location = this.value;">
        <option value="{{url_for('index_team_table')}}">2025-26</option>
        <option value="{{url_for('index_team_table_24_25')}}">2024-25</option>
        <option selected="selected" value="{{url_for('index_team_table_23_24')}}">2023-24</option>
    </select>
</div>
{% endblock %}

{% block content %}
<div id="table_div"></div>
{% endblock %}

{% block glossary %}
<section class="glossary">
    <h4>Glossary</h4>
    <ul>
        <li class="glossary_list"><b>Team:</b> NBA Team</li>
        <li class="glossary_list"><b>Over/Under:</b> Each team's Vegas Over/Under line.</li>
        <li class="glossary_list"><b>Wins:</b> Team's current number of wins.</li>
        <li class="glossary_list"><b>Losses:</b> Team's current number of losses.</li>
        <li class="glossary_list"><b>Win%:</b> Team's current winning percentage.</li>
        <li class="glossary_list"><b>Point Diff:</b> Team's current point differential.</li>
        <li class="glossary_list"><b>Expected Wins (per Win%):</b> Based on the team's winning percentage, expected number of total wins.</li>
        <li class="glossary_list"><b>Expected Wins (per Point Diff):</b> Based on the team's point differential, expected number of total wins.</li>
        <li class="glossary_list"><b>Expected O/U (per Win%):</b> Based on the team's winning percentage, Over vs. Under expected result.</li>
        <li class="glossary_list"><b>Expected O/U (per Point Diff):</b> Based on the team's point differential, Over vs. Under expected result.</li>
    </ul>
</section>
{% endblock %}
