<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Over-Unders | Team Tracker 2023-24</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var table = new google.visualization.Table(document.getElementById('table_div'));
        var json_data = new google.visualization.DataTable({{ table|safe }});
        
        table.draw(json_data, {
            showRowNumber: true, 
            sortColumn: 0, 
            sortAscending: true, 
            height: '100%',
            cssClassNames: {
                headerRow: 'table-header',
                tableRow: 'table-row',
                oddTableRow: 'table-row-odd',
                selectedTableRow: 'table-row-selected',
                hoverTableRow: 'table-row-hover',
                headerCell: 'table-header-cell',
                tableCell: 'table-cell'
            }
        });
    }
    </script>
</head>
<body>
    <header>
        <h1 class="header">NBA Over-Unders</h1>
        <p class="sub-header">Tracking Kyle's NBA Over-Under Pool along with each NBA team's progress towards its Vegas Over-Under Line</p>
        <div class="year_select_nav">
            <label>Season:</label>
            <select name="season_select" onchange="location = this.value;">
                <option value="{{url_for('index_team_table')}}">2025-26</option>
                <option value="{{url_for('index_team_table_24_25')}}">2024-25</option>
                <option selected="selected" value="{{url_for('index_team_table_23_24')}}">2023-24</option>
            </select>
        </div>
    </header>
    
    <nav class="redirect">
        <a href="{{url_for('index')}}">O/U Standings</a>
        <a href="{{url_for('index_team_table')}}">Team Tracker</a>
        <a href="{{url_for('index_entry_table')}}">Entries</a>
    </nav>
    
    <div id="table_div"></div>
    
    <section class="glossary">
        <h4>Glossary</h4>
        <ul>
            <li class="glossary_list"><b>Team:</b> NBA Team</li>
            <li class="glossary_list"><b>Over/Under:</b> Each team's Vegas Over/Under line.</li>
            <li class="glossary_list"><b>Wins:</b> Team's current number of wins.</li>
            <li class="glossary_list"><b>Losses:</b> Team's current number of losses.</li>
            <li class="glossary_list"><b>Win%:</b> Team's current winning percentage.</li>
            <li class="glossary_list"><b>Point Diff:</b> Team's current point differential.</li>
            <li class="glossary_list"><b>Expected Wins (per Win%):</b> Based on the team's winning percentage, expected number of total wins.</li>
            <li class="glossary_list"><b>Expected Wins (per Point Diff):</b> Based on the team's point differential, expected number of total wins.</li>
            <li class="glossary_list"><b>Expected O/U (per Win%):</b> Based on the team's winning percentage, Over vs. Under expected result.</li>
            <li class="glossary_list"><b>Expected O/U (per Point Diff):</b> Based on the team's point differential, Over vs. Under expected result.</li>
        </ul>
    </section>
    
    <footer class="footer">
        <p>Last Updated: {{ context.update_date | safe }}</p>
    </footer>
</body>
</html>
