<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var table = new google.visualization.Table(document.getElementById('table_div'));
        var json_data = new google.visualization.DataTable({{ table|safe }});
        var patternFormat = {
            suffix: '%',
            fractionDigits: 1
        }

        table.draw(json_data, {showRowNumber: true, sortColumn:1, sortAscending: true, height: '100%'});
    }

    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    <meta charset="UTF-8">
    <title>NBA-OU</title>
</head>
<body>
    <header>
        <p class="header"> NBA Over-Unders</p>
        <p class="sub-header"> Tracking Kyle's NBA Over-Under Pool along with each NBA team's progress towards its Vegas Over-Under Line. </p>
        <div class ="year_select_nav">
        <label>Season</label>
        <select name="season_select" onchange="location = this.value;">
            <option value="{{url_for('index_entry_table')}}">2025-26</option>
            <option value="{{url_for('index_entry_table_24_25')}}">2024-25</option>
            <option selected="selected" value="{{url_for('index_entry_table_23_24')}}">2023-24</option>
        </select>
        </div>
        <br></br>
    </header>
    <div class="redirect">
        <a href="{{url_for('index')}}">O/U Standings</a>&emsp;&emsp;<a href="{{url_for('index_team_table')}}">Team Tracker</a>&emsp;&emsp;<a href="{{url_for('index_entry_table')}}">Entries</a>
    </div>
    <div 
    id="table_div">
    </div>
</body>
<footer class="footer">
    <p>Last Updated: {{ context.update_date | safe }}</p>
</footer>
</html>









